body{
    border-radius: 15px;
    background-color: #f2f2ff;
    padding: 8px;
	/*width:100%;
	min-height:200px;
	height:100%;*/
	text-align: justify;
}

.close{
	text-align:center;
	font-size: 16px;
	position:absolute;
	right:8%;
	border-radius: 10px;
	color: #FF1717;
	background: white;
	padding: 3px;
	padding-left: 10px;
	padding-right: 10px;
	width:10px;
	transition: all 1s ease-in-out;
}
.close:hover{
	color:white;
	background: #FF1717;
}
.btnback{
    width: 80px;
    background-color: #458885;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.back{
	text-align:right;
}