#header{
	background-color:#66c2ff;
	font-family:Baskerville Old Face;
	border-radius:20px;
	color: #ffffff;
	/*min-width:200px;*/
}

img{
	width:50px;
	height:50px;
}

.logo{
	float:left;	
	width:20%;
	padding:2%;
}

.topic{
	float:left;
	
}

h3{
	font-family:Curlz MT;
	font-size:25px;
	color: #66c2ff;
}

p{
	color: #000000;
}

#column{
	float:left;
	min-width:370px;
	width:33%;
}

.privilege{
	min-height:100px;
	width:80%;	
	clear:both;
	text-align:justify;
}

input[type=text]{
    width: 27%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #000;
    border-radius: 4px;
    box-sizing: border-box;
}

select {
    width: 52%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #000;
    border-radius: 4px;
    box-sizing: border-box;
	
}
.btn {
    width: 60%;	
    background-color: #458885;
    color: white;
    padding: 14px 20px;
    margin: 8px ;
    border: none;
    border-radius:8px;
    cursor: pointer;
}

.btnreset {
    width: 26%;
    background-color: #458885;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.btncheck {
    width: 50%;
    background-color: #458885;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius:10px;
    cursor: pointer;
}

.btn:hover {
    background-color: #45a0ff;
}

form{
    border-radius: 5px;
    background-color: #f2f2ff;
    padding: 7px;
	width: 80%;
	min-height:60px;
	height:550px;
}

